#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* new styles */
/* widget styling */
.widget-carousel {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* game widgets in carousel */
.game-widget-container {
  border-radius: 10px;
  padding: 10px; /* Add some spacing for better visuals */
  text-align: center; /* Center-align the content */
  width: 350px;
  max-height: 400px;
  height: 400px;
}

.game-widget-container-light {
  color: black;
  background-color: #FFFFFF;
  border: 4px solid #D9D9D9; /* Properly defines border style, width, and color */
}

.game-widget-container-dark {
  background-color: #2c2c2c;
  color: #FFFFFF;
  border: 4px solid #2c2c2c; /* Properly defines border style, width, and color */
}

.game-widget-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-widget-header {
  display: flex;
  justify-content: space-between; /* To position icon and app name apart */
  align-items: center;
  flex-direction: column;
}

.game-widget-footer {
  /* padding-top: 75px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.game-widget-description {
  font-weight: 250;
}

.game-widget-button {
  display: flex;
  width: 90%;
  justify-content: center;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #951829; /* Fixed the background color with # prefix */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle drop shadow */
}

.navbar-title {
  font-weight: 350;
}

.nav-icon-container {
  cursor: pointer;
}

.nav-icon {
  filter: brightness(0) invert(1); /* Makes the SVG white */
}

/* landing */
.landing-page {
  background-color: white; /* Change background here */
  border-radius: 10px; /* Optional rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
  padding: 20px;
}

.landing-title {
  color: black;
  padding: 50px;
}

.landing-description {
  color: black;
}

.landing-instruction {
  color: black;
}

.landing-date {
  color: black;
}

